@keyframes myfirst {
    from {
        top: 500px;
        left: 500px;
    }
    to {
        top: 0;
        left: 0;
    }
}

#page0 {
    animation: myfirst 5s;
    -webkit-animation: mymove 5s infinite;
}