* {
    padding: 0;
    margin: 0
}

body,
html {
    touch-action: none;
    height: 100%;
    background-color: #000;
    font-size: calc(100vw/100);
}

.page div {
    width: 100px;
    height: 100px;
    font-size: 10px;
    text-align: center;
    line-height: 100px;
    position: relative;
    background-color: aquamarine;
}