* {
    padding: 0;
    margin: 0
}

body,
html {
    touch-action: none;
    height: 100%;
    background-color: #000;
    font-size: calc(100vw/75)
}

.center {
    font-size: 10rem;
    line-height: 100vh;
}

.title {
    width: 100vw;
    height: 20vh;
    font-size: 8rem;
    line-height: 20vh;
    position: relative;
}

.center {
    font-size: 10rem;
    line-height: 100vh;
}

.text {
    margin: 2.5vh auto;
    width: 90vw;
    height: auto;
    max-width: 300px;
    text-align: justify;
    line-height: 5vh;
    font-size: 3rem;
    text-indent: 2em;
    position: relative;
}

.image {
    margin: 2.5vh auto;
    width: 100vw;
    height: auto;
    position: relative;
}

.image img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.lianxi {
    margin: 2.5vh auto;
    width: 90vw;
    height: auto;
    max-width: 300px;
    text-align: center;
    line-height: 5vh;
    font-size: 3rem;
    position: relative;
}