* {
    padding: 0;
    margin: 0
}

body,
html {
    touch-action: none;
    height: 100%;
    background-color: #000;
    font-size: calc(100vw/75)
}

.center {
    font-size: 10rem;
    line-height: 100vh;
}

.title {
    width: 100vw;
    height: 15vh;
    font-size: 8rem;
    line-height: 15vh;
}

.text {
    margin: 0 auto;
    width: 90vw;
    height: auto;
    max-width: 300px;
    text-align: justify;
    margin-top: 5vh;
    line-height: 5vh;
    font-size: 3rem;
}

.image {
    margin: 0 auto;
    width: 100vw;
    height: auto;
}

.image img {
    max-width: 300px;
    width: 100%;
    height: auto;
}