.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.wrap2 {
    width: 100%;
    height: 1000%;
    transition: .3s linear
}

.page {
    width: 100%;
    height: 10%;
    background-color: #fdfdfd;
    font-size: 100px;
    line-height: 400px;
    text-align: center;
    font-weight: 700
}